.recipes {
  max-width: 1280px;
  margin: auto;
  padding: 100px;
  text-align: center;

  &__header {
    max-width: 700px;
    margin: 0 auto 80px;

    h2 {
      font-size: 48px;
      margin-bottom: 24px;
    }

    p {
      color: #00000099;
      font-size: 16px;
    }
  }
  .recipes__grid{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

  }
  
}

.recipe-card {
  background: linear-gradient(180deg, #E7F9FD00, #E7F9FD);
  width: calc(33.33% - 40px);
  border-radius: 30px;
  overflow: hidden;
  text-align: left;
  overflow: hidden;
  margin: 15px 0;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
    
  }
  .recipe-img{
    margin:  16px;
    

  }
  

  &__info {
    padding: 0 24px;

    h3 {
      font-size: 24px;
    }
    .recipe-card__details{
      padding: 20px 0;
    }

    &__details {
      font-size: 14px;
      color: #00000099;
      

      span {
        padding-right: 10px;
      }
    }
  }

  &.promo {
    background: #007f5f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

    .promo__content {
      padding: 2rem;

      p {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 480px) {
  .recipe-card img {
    height: 250px;
  }
  .recipes__header h2 {
    font-size: 1.5rem;
  }
}